﻿@model FizzBuzz.Web.Models.FizzBuzzNumberModel

@{
    ViewBag.Title = "FizzBuzz";
}

@using (Html.BeginForm("FizzBuzz", "FizzBuzz", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model != null && Model.FizzBuzzList != null)
{
    foreach (var item in Model.FizzBuzzList)
    {
        if (item.Contains(" "))
        {
            var fizzBuzzList = item.Split(' ');
            <h6>
                <span class="@fizzBuzzList[0]">@fizzBuzzList[0]</span>
                <span class="@fizzBuzzList[1]">@fizzBuzzList[1]</span>
            </h6>
        }

        else
        {
            <h6 class="@item">@item</h6>
        }
    }
    <div>
        @Html.Partial("PagedFizzBuzzList")
    </div>
}
<style type="text/css">
    h6.Fizz, .Wizz {
        color: blue !important;
    }

    h6.Buzz, .Wuzz {
        color: green !important;
    }
</style>